# Binaries, binary folders

binaries_*

bin_debug
bin
CaPTk*.bin
*Installer.bin
makeself-*.run*
archive

src/applications/*/bin
src/applications/*/bin_*

# test data
data/TestData/

# Linux specific paths that get pulled in
src/applications/individualApps/dcm2nii
src/applications/individualApps/itksnap
src/applications/individualApps/itksnap/bin
src/applications/individualApps/itksnap/lib
src/applications/individualApps/libra/bin
src/applications/individualApps/libra/libexec
src/applications/individualApps/libra/MCRInstaller.zip
src/applications/individualApps/itksnap/ITK-SNAP.app

# Misc
.vs
.vscode/
*/.DS_Store

# Linux Testing. Will be removed or implemented better
src/applications/individualApps/libra/MCR
src/applications/FeatureExtraction/data/output
/src/applications/FeatureExtraction/data/params_test.csv
/src/applications/FeatureExtraction/data/PAT1_ConfigD_181221
/src/applications/FeatureExtraction/data/3_params_default_IBSI.csv
ibsi_phantom
/src/applications/FeatureExtraction/runner.ps1

mac-pkg.sh
src/applications/individualApps/deepmedic
itksnap
libra
confetti
dcm2nii
theia
.DS_Store
testing
/binaries/.DS_Store
/binaries/MCR
/cmake_modules/.DS_Store
/src/applications/.DS_Store
/.travis/.DS_Store

vsts*
superbuild
build

