# Binaries, binary folders

bin_debug
bin
CaPTk.bin
*Installer.bin
makeself-*.run*

# Linux specific paths that get pulled in
src/applications/individualApps/dcm2nii
src/applications/individualApps/itksnap/lib
src/applications/individualApps/libra/libexec
src/applications/individualApps/libra/MCRInstaller.zip

# Misc
.vs
.vscode/
.DS_Store

# Linux Testing. Will be removed or implemented better
src/applications/individualApps/libra/MCR
src/applications/FeatureExtraction/data/output
/src/applications/FeatureExtraction/data/params_test.csv
/src/applications/FeatureExtraction/data/PAT1_ConfigD_181221
/src/applications/FeatureExtraction/data/3_params_default_IBSI.csv
ibsi_phantom
/src/applications/FeatureExtraction/runner.ps1

mac-local-build.sh
deepmedic
itksnap
libra
confetti
dcm2nii
theia
