# Binaries, binary folders

bin_debug
bin
CaPTk.bin
*Installer.bin
makeself-*.run*

# Linux specific paths that get pulled in
src/applications/individualApps/dcm2nii
src/applications/individualApps/itksnap/lib
src/applications/individualApps/libra/libexec
src/applications/individualApps/libra/MCRInstaller.zip

# Misc
.vs
.vscode/

# Linux Testing. Will be removed or implemented better
src/applications/individualApps/libra/MCR