75.0 10 10.0 24 0 150
10 5 1 10

# The first line is:
#	value 1 (double): trainingSamplePercentage [DEFAULT=75]
#	value 2 (int)   : maxDepth                 [DEFAULT=10]
#	value 3 (double): minSampleCountPercentage [DEFAULT=10]
#	value 4 (int)   : maxCategories            [DEFAULT=24] (doesn't make a lot of difference)
#	value 5 (int)   : activeVarCount           [DEFAULT=0]  (0 is sqrt(# of features))
#	value 6 (int)   : numberOfTrees            [DEFAULT=150]
#
# The second line is:
#    The priors for each label used.           [DEFAULT=0 0 ...]  (priors will not be used)
#
# Note: Provide as many priors as the count of unique different labels used, from smallest to biggest.
#       For example if you use labels -1, 2, 4 then use 3 prior values, the first for -1, then for 2 and last for 4.
